/* Responsive Styles */
/* Rsponsive Index.html */
@media (max-width: 768px) {
  .navbar-left {
      flex-direction: column;
      align-items: center;
  }

  .navbar-logo {
      margin-bottom: 10px;
  }

  .container {
      margin: 20px auto;
  }

  .tamagotchi .name {
      flex-direction: column;
  }

  .tamagotchi .name input, .tamagotchi .name button {
      width: 100%;
      margin: 5px 0;
  }

  .controls {
      flex-wrap: wrap;
      justify-content: space-around;
  }

  .controls button {
      width: 45%;
      margin: 5px 0;
  }

  .choosePet {
      flex-direction: column;
  }

  .choosePet select, .choosePet button {
      width: 100%;
      margin: 5px 0;
  }

  #restartBtn {
      width: 100%;
      margin: 10px 0;
  }

  .footer {
      flex-direction: column;
  }
}

/* Responsive snake.html */
/* Pour les tablettes */
@media (max-width: 768px) {
  canvas {
      width: 90%;
      height: auto;
      margin: 1rem auto;
  }
  button, .arrow {
      padding: 5px 10px;
      font-size: 14px;
      margin: 5px;
  }
  #arrow-controls {
      flex-direction: column;
  }
}

/* Pour les téléphones mobiles */
@media (max-width: 480px) {
  body {
      font-size: 12px;
  }
  canvas {
      width: 100%;
      height: auto;
      margin: 0.5rem auto;
      border-width: 3px;
  }
  button, .arrow {
      padding: 4px 8px;
      font-size: 12px;
      margin: 3px;
  }
  #arrow-controls .arrow {
      width: 40px;
      height: 40px;
  }
}
