/* Responsive Styles */
/* Quand la largeur de l'écran est inférieure ou égale à 768px */
@media only screen and (max-width: 768px) {
  /* Stack le contenu de la navbar verticalement */
  .navbar-left, .dropdown, .navbar a {
      display: block;
      text-align: center;
      width: 100%;
      margin: 5px 0;
  }

  /* Cache le contenu du menu déroulant par défaut */
  .dropdown-content {
      display: none;
      position: static;
      min-width: 100%;
      box-shadow: none;
  }

  /* Montre le menu déroulant lorsqu'on clique sur le bouton 'Menu' */
  .dropdown:hover .dropdown-content {
      display: block;
  }
}



/* Rsponsive Index.html */
@media (max-width: 768px) {
 
  .navbar-logo {
    margin-bottom: 10px;
  }

  .container {
    margin: 20px auto;
  }

  .tamagotchi .name {
    flex-direction: column;
  }

  .tamagotchi .name input,
  .tamagotchi .name button {
    width: 100%;
    margin: 5px 0;
  }

  .controls {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .controls button {
    width: 45%;
    margin: 5px 0;
  }

  .choosePet {
    flex-direction: column;
  }

  .choosePet select,
  .choosePet button {
    width: 100%;
    margin: 5px 0;
  }

  #restartBtn {
    width: 100%;
    margin: 10px 0;
  }

  .footer {
    flex-direction: column;
  }
}

/* Responsive snake.html */
/* Media Queries pour les appareils mobiles */
@media only screen and (max-width: 768px) {
  canvas {
    width: 90vw;
    height: 90vw;
    margin: 1rem auto;
  }
  button {
    font-size: 0.8rem;
    padding: 8px 16px;
    margin: 5px;
  }
  .arrow {
    font-size: 18px;
    width: 40px;
    height: 40px;
  }
  #arrow-controls {
    margin: 1rem 0;
  }
}

/* Pour les téléphones mobiles */
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
  canvas {
    width: 100%;
    height: auto;
    margin: 0.5rem auto;
    border-width: 3px;
  }
  button,
  .arrow {
    padding: 4px 8px;
    font-size: 12px;
    margin: 3px;
  }
  #arrow-controls .arrow {
    width: 40px;
    height: 40px;
  }
}

/* Media Queries pour le pacman*/
@media (max-width: 400px) {
  #gameContainer {
      width: 90%;
  }
  button {
      padding: 0.3rem 0.6rem;
      font-size: 10px;
  }
}
